 {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;


}


a {
  color: black;
  text-decoration: none;
}

.rencontre em {
  color: red;
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 6em;
  color: #a5b4fc;
  font-family:'Dancing script', sans-serif;
  
}

h2 {
  color: black;
  font-size: 1.5em;
  text-decoration: underline;
  

}



p {
  font-size: 1.2em;
}


.rencontre, .livre-en-cours {
  
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #a5b4fc;
  
}

.titre-photo {
  width: 100%;
  display: flex;
  flew-direction: row;
  justify-content:space-around;
  margin-top: 20px;
  

}


header {
 
  background-color:white;
  padding: 20px; 
}

.titre-photo img {
  max-height: 200px;

}

.livre-en-cours em {
  font-style: italic;
  font-weight: bold;
}


.livre-en-cours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.titre-livre {
  display: flex;
  flex-direction: column;
  
}

.livre-en-cours img {
  max-height: 200px;
}