h3 {


	font-size: 4em;
	color: #a5b4fc;
	
}


h4 {
	font-size: 2em;
	color: #a5b4fc;
	
}

img {
	max-width: 200px;
}


.section-livre {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
}


td
{
	border: 1px solid white;
	padding: 10px;

}

table {
border-collapse: collapse;
background-color:#a5b4fc ;


}

p {
	background-color: white;
	width: 60%;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
}

